body{
    background-color: rgb(236, 235, 238);
    background-image: url(Belle\ vue.jpg);

}
table{
text-align: center;
margin: auto;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25;
}


    
